<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skills and Expertise</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/views/skills/styles.css" />
    <script type="module">
      import { progressBar } from "/components/progressBar/progressBar.js";
      import { importHtml } from "/core/framework/index.js";

      importHtml({
        path: "/components/navbar/navbar.html",
        elementId: "importedHeader",
        document: document,
      });

      importHtml({
        path: "/components/progressBar/progressBar.html",
        elementId: "progressBar2",
        document: document,
      });

      importHtml({
        path: "/components/progressBar/progressBar.html",
        elementId: "progressBar1",
        document: document,
      });

      importHtml({
        path: "/assets/svg/skills-bg/skills-bg.svg",
        elementId: "importedBg",
        document: document,
      });
    </script>
  </head>
  <body>
    <div id="importedHeader"></div>
    <div id="importedBg"></div>
    <div class="skills-main">
      <div class="skills">
          <div class="skills-wrap">
              <div class="cs-stats progress-bar" id="progressBar1"></div>
            <h2>C#</h2>
            <p>Intermediate</p>
          </div>
        <div class="js-stats progress-bar" id="progressBar2"></div>
      </div>
    </div>
  </body>
</html>
