.report-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.skills-header {
    font-size: 3.5em;
    margin-bottom: 1em;
}

.skills {
    width: 80vw;

.skills-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.progress-bar {
  height: 5em;
  width: 2%;
  max-width: 48%;
  background-color: #04aa6d;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  direction: rtl;
}

.progress-description .vertical-line {
  height: 2px;
  width: -webkit-fill-available;
  background-color: black;
  border-radius: 106px;
  margin: 0 10px;
}

.progress-description {
  width: 50%;
  display: flex;
  font-size: 3em;
  padding: 0 1em;
  align-items: center;
  font-size: large;
}

.progress-description .header {
    font-size: 2em;
}

.cs-stats {
  background-color: #9f89ce;
}

.js-stats {
  background-color: #fff387;
}

.ts-stats {
  background-color: #75A7DE;
}

.py-stats {
    background-color: #6396BF;
}

.bash-stats {
    background-color: #9DDF6F;
}

.cpp-stats {
    background-color: #3973A0;
}

.sql-stats {
    background-color: #6B9AC0;
}

.go-stats {
    background-color: #74CDDD;
}

.git-stats {
    background-color: #F08168;
}

.docker-stats {
    background-color: #59B1F0;
}

.azure-stats {
    background-color: #34B1EA;
}

.dotnet-stats {
    background-color: #9F89CE;
}

.angular-stats {
    background-color: #F55C8B;
}

.vue-stats {
    background-color: #41B883;
}

.react-stats {
    background-color: #58C4DC;
}

.windows-stats {
    background-color: #0176D1;
}

.arch-stats {
    background-color: #58A6FF;
}

.debian-stats {
    background-color: #DB557B;
}

