<link href="/components/navbar/navbar.css" rel="stylesheet" />
<header class="navbar">
  <nav>
    <ul>
      <li><a class="k2d-thin" href="/index.html">Home</a></li>
      <li><a class="" href="/report.html">Report</a></li>
      <li><a class="k2d-thin" href="/views/career/career.html">Career</a></li>
      <li>
        <a class="k2d-thin" href="/views/projects/projects.html">Projects</a>
      </li>
      <li><a class="k2d-thin" href="/views/skills/skills.html">Skills</a></li>
      <li>
        <a class="k2d-thin" href="/views/contact/contact.html">Contact</a>
      </li>
    </ul>
  </nav>
</header>
