  <link href="./components/navbar/navbar.css" rel="stylesheet" />
  <script src="./components/navbar/navbar.js"></script>
  <header class="navbar">
    <nav>
      <ul>
        <li><a class="k2d-thin" href="index.html">Home</a></li>
        <li><a class="k2d-thin" href="career.html">Career</a></li>
        <li><a class="k2d-thin" href="projects.html">Projects</a></li>
        <li><a class="k2d-thin" href="skills.html">Skills</a></li>
        <li><a class="k2d-thin" href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>
