<link rel="stylesheet" href="/components/progressBar/progressBar.css" />
<script type="module">
  import { progressBar } from "/components/progressBar/progressBar.js";
  import { importHtml } from "/core/framework/index.js";

  const progressBarElement = document.getElementById("progressBarFill");

  let n = progressBar({
    element: progressBarElement,
    initialValue: 10,
  });

  n.move();
</script>
<div id="progressBar" class="progressBar">
  <div id="progressBarFill" class="progressBarFill"></div>
</div>
