<!DOCTYPE html>
<html>
    // TODO: find the way to get internal html content and interact without exposing the logic to the high level
    <head>
    <script type="module">
        import { progressBar } from "./components/progressbar/progressBar.js";

      let n = progressBar({
        element: document.getElementById("progressBar"),
        initialValue: 10,
      });
      n.move();
      console.log(n);
    </script>
    </head>
  <body>
      <div id="progressBar" class="progressBar">
        <div id="progressBarFill" class="progressBarFill"></div>
      </div>
    <style>
      #progressBar {
        width: 100%;
        background-color: #ddd;
      }

      #progressBarFill {
        width: 10%;
        height: 30px;
        background-color: #04aa6d;
        text-align: center;
        line-height: 30px;
        color: white;
      }
    </style>
  </body>
</html>
