<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Career Journey</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/views/career/career.css" />
    <script type="module">
      import { importHtml } from "/core/framework/index.js";

      importHtml({
        path: "/assets/svg/career-bg/career-bg.svg",
        elementId: "importedBg",
        document: document,
      });

      importHtml({
        path: "/components/navbar/navbar.html",
        elementId: "importedHeader",
        document: document,
      });

      const reports = document.querySelectorAll(".year-report");

      const yearsRecords = [
        { year: 2024, description: "test" },
        { year: 2025, description: "test" },
        { year: 2026, description: "test" },
        { year: 2027, description: "test" },
        // { year: 2028, description: "test" },
        // { year: 2029, description: "test" },
      ];

      yearsRecords.forEach((record) => {
        importHtml({
          path: "/components/career/year-report/year-report.html",
          elementId: record.year.toString(),
          document: document,
          callback: function () {
            const report = document.getElementById(record.year.toString());
            const yearRow = report.querySelector(".year-row");
            const descriptionRow = report.querySelector(".description-row");

            if (yearRow && descriptionRow) {
              yearRow.prepend(record.year);
              descriptionRow.prepend(record.description);
            } else {
              console.error("Year row or description row not found");
            }
          },
        });
      });

      // reports.forEach((report, index) => {
      //   importHtml({
      //     path: "/components/career/year-report/year-report.html",
      //     elementId: yearsRecords[index].year.toString(),
      //     document: document,
      //     callback: () => {
      //       const report = document.getElementById(yearsRecords[index].year.toString());
      //       const yearRow = report.querySelector(".year-row");
      //       const descriptionRow = report.querySelector(".description-row");

      //       if (yearRow && descriptionRow) {
      //         yearRow.prepend(record.year);
      //         descriptionRow.prepend(record.description);
      //       } else {
      //         console.error("Year row or description row not found");
      //       }
      //     },
      //   });
      // });
    </script>
    <!-- <script type="text/javascript"> -->
    <!--   let yearsRecords = [ -->
    <!--     { year: 2024, description: "test" }, -->
    <!--     { year: 2025, description: "test" }, -->
    <!--     { year: 2026, description: "test" }, -->
    <!--     { year: 2027, description: "test" }, -->
    <!--   ]; -->

    <!--   document.querySelectorAll(".year-report").forEach((report, index) => { -->
    <!--     console.log(report); -->
    <!--     console.log(report.querySelector(".year-row")); -->
    <!--     report.querySelector(".year-row").prepend(yearsRecords[index].year); -->
    <!--     report -->
    <!--       .querySelector(".description-row") -->
    <!--       .prepend(yearsRecords[index].description); -->
    <!--   }); -->
    <!-- </script> -->
  </head>
  <body>
    <div id="importedBg"></div>
    <div id="importedHeader"></div>
    <main class="career-main">
      <div class="year-report" id="2024"></div>
      <div class="year-report" id="2025"></div>
      <div class="year-report" id="2026"></div>
      <div class="year-report" id="2027"></div>
    </main>
  </body>
</html>
