<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Career Journey</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="/views/career/career.css" />
    <script type="module">
      import { importHtml } from "/core/framework/index.js";
      import { reportComponentActions } from "/components/career/year-report/year-report.js";

      importHtml({
        path: "/assets/svg/career-bg/career-bg.svg",
        elementId: "importedBg",
        document: document,
      });

      importHtml({
        path: "/components/navbar/navbar.html",
        elementId: "importedHeader",
        document: document,
      });

      const reports = document.querySelectorAll(".year-report");

      const yearsRecords = [
        { year: 2024, description: "test" },
        { year: 2025, description: "test" },
        { year: 2026, description: "test" },
        { year: 2027, description: "test" },
        // { year: 2028, description: "test" },
        // { year: 2029, description: "test" },
      ];

      reports.forEach((report, index) => {
        importHtml({
          path: "/components/career/year-report/year-report.html",
          elementId: yearsRecords[index].toString(),
          document: document,
        });
      });

      const importedReports = document.querySelectorAll(".year-report");

      importedReports.forEach((report, index) => {
        reportComponentActions({
          parent: report,
          elementsInputProperties: yearsRecords[index],
        }).applyProperties();
      });

    </script>
  </head>
  <body>
    <div id="importedBg"></div>
    <div id="importedHeader"></div>
    <main class="career-main">
      <div class="year-report" id="2024"></div>
      <div class="year-report" id="2025"></div>
      <div class="year-report" id="2026"></div>
      <div class="year-report" id="2027"></div>
    </main>
  </body>
</html>
